.App {
  text-align: center;
  background-color: #f9e8e7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader{
  @apply flex justify-center w-full h-16;
}
/* PokaCard */
.wrapper{
  @apply sm:mt-5 gap-6 grid grid-cols-1 grid-flow-row-dense m-5 md:grid-cols-3 lg:grid-cols-5  ;
}
